//===================================== MANAGE-HERO START =====================================//

.manage-hero {
    margin-bottom: 115px;
}

//===================================== MANAGE-HERO END =====================================//

//=============================================== MEDIA START ===============================================//


//===================================== TABLET START =====================================//

@media only screen and (max-width: 689px) {
    .manage-hero {
        margin-bottom: 40px;
    
        img {
            width: 100%;
            height: 310px;
        }
    }
}

//===================================== TABLET END =====================================//


//=============================================== MEDIA END ===============================================//